<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:30</td>  <td>Welcome and Introduction (Meron and Stephanie)</td> </tr>
      <tr> <td>09:45</td>  <td>Automating Tasks with the Unix Shell (Susan)</td> </tr>
      <tr> <td>10:45</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:20</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>13:20</td>  <td>Wrap-up</td> </tr>
      <tr> <td>13:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Introduction</td> </tr>
      <tr> <td>09:45</td>  <td>Plotting and Programming in Python (Matthias)</td> </tr>
      <tr> <td>10:45</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Plotting and Programming in Python (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:20</td>  <td>Plotting and Programming in Python (Continued)</td> </tr>
      <tr> <td>13:20</td>  <td>Wrap-up</td> </tr>
      <tr> <td>13:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Recap</td> </tr>
      <tr> <td>09:45</td>  <td>Plotting and Programming in Python (Continued)</td> </tr>
      <tr> <td>10:45</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Plotting and Programming in Python (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:20</td>  <td>Plotting and Programming in Python (Continued)</td> </tr>
      <tr> <td>13:20</td>  <td>Wrap-up</td> </tr>
      <tr> <td>13:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Introduction</td> </tr>
      <tr> <td>09:45</td>  <td>Version Control with Git (Julia)</td> </tr>
      <tr> <td>10:45</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:20</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>13:20</td>  <td>Wrap-up</td> </tr>
      <tr> <td>13:25</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>13:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
